{% extends 'templates/app.twig' %}
{% block title %}{{ user.user_name }}{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-6">
			¯\_(ツ)_/¯ <br>
			{{ user.user_name }}
        </div>
    </div>
{% endblock %}
