{% extends 'templates/app.twig' %}
{% block title %}{{username }}{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-6">
			¯\_(ツ)_/¯ <br>
			{{ username }}
        </div>
    </div>
{% endblock %}
